<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Art Museum Data Visualization</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
  </head>
  <body>
    <div class="container">
      <h1>Harvard Art Museums Data</h1>
      <button id="loadDataBtn">Load Data</button>
      <button id="toggleDataBtn">Hide Data</button>

      <div id="chartsContainer">
        <canvas id="pieChart" width="400" height="400"></canvas>
        <canvas id="lineChart" width="400" height="400"></canvas>
      </div>
    </div>
  </body>
</html>
